<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodingTheTweet.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodingTheTweet.Settings1>
            <setting name="consumerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="consumerSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="secretToken" serializeAs="String">
                <value />
            </setting>
        </CodingTheTweet.Settings1>
    </userSettings>
</configuration>